@page "/"

<PageTitle>Home</PageTitle>

<h3>Isabelle Ondracek</h3>
<hr>

<p>LinkedIn</p>
<p>GitHub</p>

<p>Hello, I'm Isabelle! I graduated from University at Buffalo with my BS in Computer Science and Cybersecurity minor in 2023.</p>

@code {
    string linkedInLink = "https://www.linkedin.com/in/isabelle-ondracek/";
    string gitHubLink = "https://github.com/ikondra";
}