@page "/projects"

<h3>Projects</h3>

@code {
    string minecraftUtopia = "https://github.com/cproctor/minecraft_analytics";
    string ugcg = "https://github.com/UBSec/UGCG-Guard";
    string hateGuard = "https://github.com/CactiLab/HateGuard";
}
